[submodule "codes"]
	path = codes
	url = git@github.com:minitu/codes.git
[submodule "gpuroofperf-toolkit"]
	path = gpuroofperf-toolkit
	url = git@github.com:minitu/gpuroofperf-toolkit.git
[submodule "sst-dumpi"]
	path = sst-dumpi
	url = git@github.com:minitu/sst-dumpi.git
[submodule "dumpi-cortex"]
	path = dumpi-cortex
	url = git@github.com:minitu/dumpi-cortex.git
[submodule "ROSS"]
	path = ROSS
	url = git@github.com:ROSS-org/ROSS.git
