[submodule "codes"]
	path = codes
	url = git@github.com:minitu/codes.git
[submodule "gpuroofperf-toolkit"]
	path = gpuroofperf-toolkit
	url = git@github.com:minitu/gpuroofperf-toolkit.git
[submodule "sst-dumpi"]
	path = sst-dumpi
	url = git@github.com:minitu/sst-dumpi.git
[submodule "dumpi-cortex"]
	path = cortex
	url = git@github.com:minitu/dumpi-cortex.git
[submodule "ROSS"]
	path = ROSS
	url = git@github.com:ROSS-org/ROSS.git
[submodule "apps/miniFE"]
	path = apps/miniFE
	url = git@github.com:minitu/miniFE.git
[submodule "mpitest"]
	path = mpitest
	url = git@github.com:minitu/mpitest.git
[submodule "apps/jacobi2d"]
	path = apps/jacobi2d
	url = git@github.com:minitu/jacobi2d.git
